<div class="reset-password-container">
  <h2>Reset Password</h2>
  <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
    <input
      type="text"
      name="token"
      [(ngModel)]="token"
      placeholder="Enter reset token"
      required
      class="form-control"
    />

    <input
      type="password"
      name="newPassword"
      [(ngModel)]="newPassword"
      placeholder="Enter new password"
      minlength="6"
      required
      class="form-control"
    />

    <button type="submit" [disabled]="resetForm.invalid" >Reset Password</button>
  </form>

<p *ngIf="message" class="success-message">{{ message }}</p>
  <p *ngIf="error" class="error-message">{{ error }}</p>
</div>
