<div class="journal_list" >
<h1>{{journalEntry.title}}</h1>
<img [src]="journalEntry.img" alt="">
<h2>{{journalEntry.content}}</h2>
<h4>{{journalEntry.sentiments}}</h4>
<h6>{{journalEntry.category}}</h6>
<h6 class="text-dark">created on {{ journalEntry.date}}</h6>
<a [routerLink]="['/journalLikes',journalEntry.id]" class="text-dark"> total likes {{likes}} </a><br>
<p class="text-white-50">{{unlikedMsg}}</p><p class="text-white-50">{{likedMsg}}</p>
<button class="btn  btn-info" (click)="doLike(journalEntry.id)">like <i class="bi bi-hand-thumbs-up"></i></button>
<button class="btn  btn-danger" (click)="unLike(journalEntry.id)">dislike  <i class="bi bi-hand-thumbs-down"></i></button>
<button class="btn btn-warning" (click)="shareJournal(journalEntry)">Share</button>
<button class="btn btn-primary" (click)="updateJournal(journalEntry.id)">update</button>
<button class="btn btn-danger" (click)="deleteJournal(journalEntry.id)">delete</button>

</div>
